<link rel="stylesheet" href="/css/dashboard.css" />

<h2 class="text-center">{{user.username}}</h2>

{{! Conteiner for blogs posted }}
<div class="container mt-4">
  <div class="all-blog-container">
    {{#each user.blogs as |userBlog|}}
      <div class="blog-container mb-4" data-types="{{userBlog.id}}">
        <div class="title">
          <p>{{userBlog.title}}</p>
        </div>
        <div class="date">
          <p>{{format_date userBlog.date_created}}</p>
        </div>
      </div>
    {{/each}}
  </div>

  {{!-- Container for updating blog --}}

  <div class="update-blog-container update-blog-unactive">
  <form id="update-blog-form">
      <div class="title-container">
          <label for="title">Title:</label>
          <input
              type="text"
              class="form-control"
              placeholder="Enter your title here:"
              name="title"
              id="new-blog-title"
          />
          </div>
      <div class="content-container">
          <label for="content">Content:</label>
          <textarea
              type="text"
              class="form-control"
              placeholder="Enter your blog here:"
              name="content"
              id="new-blog-content"
          />
          </textarea>
      </div>
      <div class="update-blog">
          <button class="btn btn-primary">Update Blog</button>
      </div>
  </form>
  </div>    

  {{! Conteiner for making new blog }}
  <div class="make-blog-container make-blog-unactive">
    <form id="new-blog-form">
        <div class="title-container">
            <label for="title">Title:</label>
            <input
                type="text"
                class="form-control"
                placeholder="Enter your title here:"
                name="title"
                id="blog-title"
            />
            </div>
        <div class="content-container">
            <label for="content">Content:</label>
            <textarea
                type="text"
                class="form-control"
                placeholder="Enter your blog here:"
                name="content"
                id="blog-content"
            />
            </textarea>
        </div>
        <div class="submit-blog">
            <button class="btn btn-primary">Post Blog</button>
        </div>
    </form>
  </div>

  {{! new blog button }}
  <div class="new-blog">
    <button type="button" class="btn btn-primary" id="new-blog">New Blog</button>
  </div>

</div>

<script src="/js/dashboard.js"></script>