<h2 class="text-center mt-4">Login:</h2>
<div class="login-container">
  <form action="" class="login-form">
    <div class="username-form">
      <label for="username">Username:</label>
      <input
        type="text"
        class="form-control"
        placeholder="Username"
        name="username"
        id="username-login"
      />
    </div>
    <div class="password-form">
      <label for="password">Password:</label>
      <input
        type="text"
        class="form-control"
        placeholder="Password"
        name="password"
        id="password-login"
      />
    </div>
    <div class="login-btn">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
    <div class="sign-up-option">
      <a href="/sign-up" class="sign-up-link">
        <p>Sign Up Instead</p>
      </a>
    </div>
  </form>
</div>