<h2 class="text-center mt-4">Sign Up:</h2>
<div class="sign-up-container">
  <form action="" class="sign-up-form">
    <div class="sign-up-username-form">
      <label for="username">Username:</label>
      <input
        type="text"
        class="form-control"
        placeholder="Username"
        name="username"
        id="signup-username"
      />
    </div>
    <div class="sign-up-email-form">
      <label for="email">Email:</label>
      <input
        type="text"
        class="form-control"
        placeholder="Email"
        name="email"
        id="signup-email"
      />
    </div>
    <div class="sign-up-password-form">
      <label for="password">Password:</label>
      <input
        type="text"
        class="form-control"
        placeholder="Password"
        name="password"
        id="signup-password"
      />
    </div>
    <div class="sign-up-btn">
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </div>
    <div class="login-option">
      <a href="/login" class="login-link">
        <p>Login Instead</p>
      </a>
    </div>
  </form>
</div>