.card{
    padding: 20px;
}

.content > p {
    font-size: 20px;
}

.blog-info{
    text-align: right;
    display: inline;
}

p.user, p.date{
    margin-bottom: 5px;
}

div.all-comments {
    width: 50vw;
    margin: 0 auto;
}

.comment > p {
    font-size: 20px;
}

.comment-info{
    text-align: right;
    margin-bottom: 5px;
}

.comment-info > p {
    margin-bottom: 5px;
}

.add-comment-btn, .new-comment-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.add-comment-btn button {
    width: 20%;
}

/* .comment-text{
} */

.comment-form{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.comment-form > input {
    width: 50%;
    text-align: center;
    height: 50px;
    font-size: 18px;
}

.form-label{
    font-size: 22px;
    font-weight: 500;
}


.new-comment-active {
    display: block;
}

.new-comment-unactive {
    display: none;
}

.new-comment-btn button {
    margin-bottom: 20px;
}