.main-container{
    height: 80vh;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 75vw;
}

.all-blog-container{
    font-size: 20px;
}

.blog-container{
    display: flex;
    flex-direction: row;
    padding: 15px 5px;
    border-radius: 10px;
}

.title{
    /* margin-left: 25px;
    margin-right: auto; */
    margin: auto auto auto 25px;
}

.date{
    margin-left: auto;
    margin-right: 25px;
}

.blog-container{
    border: 1px solid black;
    cursor: pointer;
}

p{
    margin-bottom: 0;
}

.title-container, .content-container{
    margin-bottom: 15px;
}

.title-container > label, .content-container > label {
    font-size: 18px;
}

.content-container > textarea{
    height: 125px;
}

.submit-blog{
    width: 100%;
    display: flex;
    justify-content: center;
}

.submit-blog button {
    width: 20%;
}

.make-blog-unactive{
    display: none;
}

.make-blog-active{
    display: block;
}

.update-blog-unactive{
    display: none;
}

.update-blog-active{
    display: block;
}

.update-blog {
    display: flex;
    justify-content: center;
}

.update-blog > button{
    width: 25%;
}

.new-blog{
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 25px;
}

.new-blog > button {
    width: 35%;
    height: 125%;
    font-size: 110%;
}

@media screen and (max-width: 426px) {
    .blog-container{
        flex-direction: column;
    }

    .title, .date {
        margin: 0 auto;
    }
}